.content {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.textBox {
  max-width: 600px;
  position: relative;
}

.textBox h2 {
  font-size: 4em;
  font-weight: 900;
  line-height: 1.5em;
  text-transform: uppercase;
}

.textBox h2 span {
  font-size: 2em;
}

.textBox p {
  font-size: 1em;
}

.textBox a {
  display: inline-block;

  color: #111;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--button-primary-color);
  padding: 8px 20px;
  border: 1px solid var(--button-primary-color);
  border-radius: 40px;
  outline: none;
  margin-top: 20px;

  cursor: pointer;
  
  transition: opacity .3s;
}

.imageBox {
  max-width: 600px;

  display: flex;
  justify-content: flex-end;

  padding-right: 50px;
  margin-top: 50px;
}

.imageBox img {
  max-width: 260px;

  transition: 0.5s;
}

@media(max-width: 1170px) {
  .imageBox {
    max-width: 600px;
  
    display: flex;
    justify-content: flex-end;
  
    padding-right: 35px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .imageBox img {
    max-width: 160px;
  }
}


@media(max-width: 991px) {
  .content {
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 70px;
  }

  .textBox {
    max-width: 100%;
    padding-right: 20px;
  }

  .textBox h2 {
    font-size: 3em;
  }
  
  .textBox a {
    font-size: 14px;
    padding: 8px 15px;
  }

  .imageBox {
    width: 100%;

    justify-content: center;

    padding-right: 0;
  }

  .imageBox img {
    max-width: 150px;
  }
}

@media(max-width: 545px) {
  .textBox h2 {
    font-size: 2.5em;
  }
}

@media(max-width: 467px) {
  .textBox h2 {
    font-size: 2em;
  }
}

@media(max-width: 391px) {
  .textBox h2 {
    font-size: 1.8em;
  }
}

@media(max-width: 335px) {
  .textBox {
    overflow: hidden;
  }

  .textBox h2 {
    font-size: 1.2em;
  }
}

@media(max-height: 740px) {
  .content {
    margin-top: 40px;
  }

  .textBox p {
    font-size: 0.8em;
  }

  .imageBox {
    margin-top: 20px;
  }

  .imageBox img {
    max-width: 120px;
  }
}