header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 100px;

  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-width: 175px;

  position:relative;
}

.navbar ul {
  display: flex;

  position:relative;
}

.navbar li {
  list-style: none;
}

.navbar a {
  display: inline-block;

  font-weight: 400;

  margin-left: 40px;
}