header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 100px;

  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-width: 175px;

  position:relative;
}

.navbar ul {
  display: flex;
  position: relative;
}

.navbar li {
  list-style: none;
}

.navbar a {
  display: inline-block;

  font-weight: 400;
}

.navbar li:not(:first-of-type) a {
  margin-left: 40px;
}

.navbar #marker {
  width: 0;
  height: 2px;

  position: absolute;
  bottom: -8px;

  background-color: var(--font-primary-color);
  border-radius: 4px;

  transition: 0.5s;
}