.sidebar {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMedia li {
  list-style: none;
}

.socialMedia a {
  display: inline-block;
  
  margin: 5px 0;
}

.socialMedia a:hover,
.socialMedia a:focus {
  opacity: .5;
}

@media(max-width: 991px) {
  .sidebar {
    width: 50px;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2)
  }
}